In [1]:
import pandas as pd               
from pathlib import Path           

DATA_ROOT = Path("/Users/v/Desktop/Visual/glaucoma_DL_project/data/uwhvf-master/CSV")
VF_PATH = DATA_ROOT / "VF_Data.csv"   

df = pd.read_csv(VF_PATH)

print("rows, cols:", df.shape)

df.head()

rows, cols: (28943, 184)

,PatID,Gender,Eye,FieldN,Age,Time_from_Baseline,MS,MS_Cluster1,MS_Cluster2,MS_Cluster3,...,PD_45,PD_46,PD_47,PD_48,PD_49,PD_50,PD_51,PD_52,PD_53,PD_54
0,647,F,Right,1,52.7967,0.0000,27.832885,25.57750,26.979231,30.588333,...,-1.92,-0.36,-0.44,-1.52,-0.03,-1.06,0.75,-1.33,-2.02,-0.61
1,647,F,Right,2,53.8234,1.0267,30.131346,27.76000,29.911538,33.263333,...,-0.54,-1.13,-1.81,-1.74,-2.19,-1.23,-4.85,-2.24,0.00,0.28
2,647,F,Right,3,54.8857,2.0890,29.454808,25.47500,29.826154,32.488333,...,-0.07,1.56,-2.09,0.07,-0.84,-2.45,-0.48,-4.10,-1.28,-4.07
3,647,F,Right,4,57.7331,4.9363,27.947885,23.75625,28.658462,31.431667,...,-2.57,-1.74,-0.52,-2.70,-1.48,-3.32,-3.00,-6.49,-2.19,-2.76
4,647,F,Right,5,58.7680,5.9713,27.644038,24.90250,28.104615,30.105000,...,-0.80,-0.93,-3.08,-2.55,-3.26,-3.13,-1.42,-0.18,-1.02,-2.63

In [2]:
import pandas as pd
import numpy as np

# === 1. Load the dataset ===
df = pd.read_csv("/Users/v/Desktop/Visual/glaucoma_DL_project/data/uwhvf-master/CSV/VF_Data.csv")

# === 2. Basic information ===
print("Dataset shape:", df.shape)
print("Example columns:", df.columns[:10].tolist())

# === 3. Descriptive statistics for main global variables ===
key_cols = ["Age", "MS", "MTD", "PSD"]
key_stats = df[key_cols].describe().T  # transpose for easier reading
print("\n=== Descriptive statistics for Age, MS, MTD, PSD ===")
print(key_stats[["mean", "min", "max", "std"]])

# === 4. Find all TD_* columns ===
td_cols = [c for c in df.columns if c.startswith("TD_")]
print(f"\nDetected {len(td_cols)} TD columns")

# Compute per-column statistics for all TD_* columns
td_stats = df[td_cols].describe().T
print("\n=== Per-column TD statistics (first 10 columns) ===")
print(td_stats[["mean", "min", "max", "std"]].head(10))

# === 5. Compute pooled statistics across all TD values ===
td_flat = df[td_cols].values.ravel()  # flatten all TD columns into a single vector
td_flat = pd.Series(td_flat).dropna()  # remove missing values
print("\n=== Pooled TD statistics (all TD values combined) ===")
print(td_flat.describe()[["mean", "min", "max", "std"]])

Dataset shape: (28943, 184)
Example columns: ['PatID', 'Gender', 'Eye', 'FieldN', 'Age', 'Time_from_Baseline', 'MS', 'MS_Cluster1', 'MS_Cluster2', 'MS_Cluster3']

=== Descriptive statistics for Age, MS, MTD, PSD ===
          mean       min        max        std
Age  64.487992   0.00000  89.995900  14.436108
MS   24.955397   0.00000  49.406154   6.355391
MTD  -6.818922 -32.94750  18.149231   6.243433
PSD   4.120295   0.83146  16.322754   3.123496

Detected 54 TD columns

=== Per-column TD statistics (first 10 columns) ===
           mean    min    max       std
TD_1  -7.695254 -33.20  22.25  8.584626
TD_2  -7.401252 -33.03  21.90  8.430644
TD_3  -7.804534 -32.71  22.24  8.426658
TD_4  -7.533656 -32.61  22.69  8.474298
TD_5  -7.402540 -33.70  20.43  8.548530
TD_6  -6.666594 -34.24  19.23  7.951030
TD_7  -7.061806 -34.45  19.20  7.936420
TD_8  -7.406984 -34.13  19.44  7.904875
TD_9  -6.280257 -33.75  19.81  7.595891
TD_10 -6.432603 -33.43  21.23  7.751109

=== Pooled TD statistics (all TD values combined) ===
mean    -6.818922
min    -37.690000
max     22.690000
std      8.074515
dtype: float64

In [5]:
# --- Collect Sens_* columns
sens_cols = [c for c in df.columns if c.startswith("Sens_")]
print(f"Detected {len(sens_cols)} Sensitivity columns")

# Per-column descriptive stats (show the first 10 as a preview)
sens_per_col_desc = df[sens_cols].describe().T
print("\nPer-location Sensitivity stats (first 10 columns):")
print(sens_per_col_desc[["mean","min","max","std"]].head(10))

# Pooled Sensitivity statistics (all Sens_* values flattened)
sens_flat = pd.Series(df[sens_cols].to_numpy().ravel()).dropna()
print("\nPooled Sensitivity stats (all locations combined):")
print(sens_flat.describe()[["mean","min","max","std"]])

Detected 54 Sensitivity columns

Per-location Sensitivity stats (first 10 columns):
              mean  min    max       std
Sens_1   20.986242  0.0  49.69  8.720290
Sens_2   21.365599  0.0  49.52  8.550894
Sens_3   20.630515  0.0  49.48  8.545935
Sens_4   20.475358  0.0  49.63  8.614692
Sens_5   22.811858  0.0  49.83  8.650316
Sens_6   24.301327  0.0  49.46  8.036803
Sens_7   24.106726  0.0  49.64  8.031000
Sens_8   23.433406  0.0  49.62  7.996304
Sens_9   24.021913  0.0  49.42  7.694089
Sens_10  23.225998  0.0  49.73  7.865330

Pooled Sensitivity stats (all locations combined):
mean    24.497703
min      0.000000
max     50.000000
std      8.888869
dtype: float64

In [6]:
# --- Gender distribution
print("Gender distribution (counts):")
print(df["Gender"].value_counts(dropna=False))
print("\nGender distribution (proportions):")
print(df["Gender"].value_counts(normalize=True, dropna=False).round(3))

# --- Eye (laterality) distribution
print("\nEye distribution (counts):")
print(df["Eye"].value_counts(dropna=False))
print("\nEye distribution (proportions):")
print(df["Eye"].value_counts(normalize=True, dropna=False).round(3))

# --- Correlation among global indices
corr = df[["MS","MTD","PSD"]].corr()
print("\nCorrelation matrix (MS, MTD, PSD):")
print(corr)

Gender distribution (counts):
Gender
F      12815
M      10582
NaN     5529
O         17
Name: count, dtype: int64

Gender distribution (proportions):
Gender
F      0.443
M      0.366
NaN    0.191
O      0.001
Name: proportion, dtype: float64

Eye distribution (counts):
Eye
Left     14510
Right    14433
Name: count, dtype: int64

Eye distribution (proportions):
Eye
Left     0.501
Right    0.499
Name: proportion, dtype: float64

Correlation matrix (MS, MTD, PSD):
           MS       MTD       PSD
MS   1.000000  0.991229 -0.724337
MTD  0.991229  1.000000 -0.723224
PSD -0.724337 -0.723224  1.000000